#title{
    background-color: black;
}

.optionsMenu{
    margin-top: 10px;
    margin-bottom: 10px;
}

.body{
    background-color: rgba(243, 239, 239, 0.887);
}

.menuTable{
    width: 100%;
}

.menuButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    border-radius: 10rem;
    font-weight: bold;
    color: rgb(37, 37, 37);
    background: linear-gradient(90deg, rgb(230, 140, 170) 0%, rgb(230, 112, 212) 49%, rgb(238, 100, 240) 100%);
}

.menuButton:hover {
    background: black;
    color: rgb(238, 100, 240);
    border: 1px solid black;
    border-color: rgb(238, 100, 240);
}



.card-counter{
    position: absolute;
    box-shadow: 2px 2px 10px #DADADA;
    padding: 10px 10px;
    background-color: #fff;
    height: 80px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}

#totalPaletas{
    margin-left: 30px;
    margin-top: 20px;
    background-color: rgb(251, 170, 184);
}

#totalSombras{
    margin-left: 300px;
    margin-top: 20px;
    background-color: rgb(251, 170, 184);
}

.card-counter .count-numbers{
    font-size: 20px;
    display: block;
    user-select: none;
}

.card-counter .count-name{
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
    user-select: none;
}